<!-- Navigation -->
  <nav  class="navigation" id="js-nav">
        <div class="">
            <div class="navbar-header">
                <a href="#" class="header-logo-full mt-15"><img src="assets/img/logo.png" alt="store logo">
                <span class="h3 text-center">Martin Johe</span>
                </a>

                <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
                    navigation <span class="ti-menu"></span>
                </button>
                <a class="navbar-scroll arrow bounce text-center" href="#about">
                    <span class="ti-mouse"></span>
                    scroll down
                    <span class="ti-angle-double-down"></span>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav">
                    <li><a href="#about">about me</a></li>
                    <li><a href="#services">services</a></li>   
                    <li><a href="#portfolio">portfolio</a></li>
                    <li><a href="#testimonials">testimonials</a></li>
                    <li><a href="#timeline">timeline</a></li>
                    <li><a href="#contact">contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- / FIXED NAVBAR -->
        
    <div class="about" id="about">
        <div class="container-fluid no-padding">
            <div class="row about-content relative">
                <div class="col-md-6 no-padding static">

                    <div class="about-image">       
                        <div class="about-image-box">
                            <span class="about-image-header">hi!</span>
                            <p> My name is Martin Johe, aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur.
                            </p>
                            <ul class="about-social mt-30">
                                <li><a href="#" class="pull-left"><span class="ti-twitter"></span></a></li>
                                <li><a href="#" class="pull-left"><span class="ti-instagram"></span></a></li>
                                <li><a href="#" class="pull-left"><span class="ti-youtube"></span></a></li>
                                <li><a href="#" class="pull-left"><span class="ti-vimeo"></span></a></li>
                                <li><a href="#" class="pull-left"><span class="ti-tumblr"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-md-push-1 pt-60 pb-60 pl-30 pr-30 pull-left">
                    <div class="about-box">
                        <h6 class="uppercase bold">About </h6>
                        <p class="small">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>

                    <div class="about-box">
                        <h6 class="uppercase bold">Contact  </h6>
                        <p class="small">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="row">
                        <div class="about-box col-md-12">
                            <h6 class="uppercase bold">Experience </h6>
                            <div class="about-experience row pt-0">
                                <div class="col-md-4">
                                    <span class="about-experience-date small">2012 - 2014</span>
                                </div>

                                <div class="col-md-8">
                                    <span class="about-experience-job">web designer</span>
                                    <p class="small">5d interactive agency</p>
                                </div>
                            </div>
                            <div class="about-experience row">
                                <div class="col-md-4">
                                    <span class="about-experience-date small">2012 - 2014</span>
                                </div>

                                <div class="col-md-8">
                                    <span class="about-experience-job">web designer</span>
                                    <p class="small">5d interactive agency</p>
                                </div>
                            </div>
                            <div class="about-experience row">
                                <div class="col-md-4">
                                    <span class="about-experience-date small">2012 - 2014</span>
                                </div>

                                <div class="col-md-8">
                                    <span class="about-experience-job">web designer</span>
                                    <p class="small">5d interactive agency</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="about-box">
                        <h6 class="uppercase bold">Credo</h6>
                        <p class="small">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="services" class="services">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 section-hader">
                    <h3>Services</h3>
                </div>
                <div class="col-md-4 wow fadeInLeft light-bg">
                    <div class="services-box text-center shadow">
                        <span class="icon ti-video-clapper"></span>
                        <h4>storyboards</h4>
                        <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                        </p>
                        <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInDown inverted">
                    <div class="services-box text-center shadow">
                        <span class="icon ti-video-camera"></span>
                        <h4>Movies</h4>
                        <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                        </p>
                        <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInRight light-bg">
                    <div class="services-box text-center shadow">
                        <span class="icon ti-eraser"></span>
                        <h4>Post production</h4>
                        <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                        </p>
                        <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInLeft inverted">
                    <div class="services-box text-center shadow">
                        <span class="icon ti-music-alt"></span>
                        <h4>Music</h4>
                        <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                        </p>
                        <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp light-bg">
                    <div class="services-box text-center shadow">
                        <span class="icon ti-gallery"></span>
                        <h4>Photography</h4>
                        <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                        </p>
                        <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInRight inverted">
                    <div class="services-box text-center shadow">
                        <span class="icon ti-support"></span>
                        <h4>Technical support</h4>
                        <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                        </p>
                        <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                    </div>
                </div>
            </div>
        </div>
        <!--  SERVICE MODAL -->
        <div id="service-01" class="modal fade services-modal" role="dialog" tabindex="-1" >
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content shadow">
                    <a class="close" data-dismiss="modal"><span class="ti-close"></span></a>
                    <div class="modal-body">
                        <div class="post-entry post-entry-modal">

                            <div class="services-box text-center pb-60">
                                <span class="icon ti-music-alt"></span>
                                <h4>Music</h4>
                                <h3 class="mb-60">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h3>
                                <p>Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                                </p>
               
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                </p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                </p>

                                <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / SERVICE MODAL -->
    </div>

    <div class="portfolio container-fluid no-padding" id="portfolio">
        <div class="row">
            <div class="col-md-12 section-hader">
                <h3>Portfolio</h3>
            </div>
        </div>
        <!-- SINGLE PORTFOLIO ITEM-->
        <div class="portfolio-row row">
            <div class="col-md-6 static no-padding">
                <div class="portfolio-image" style="background-image: url('assets/img/portfolio-1.jpg')">
                </div>
            </div>

            <div class="col-md-6">
                <div class="portfolio-content pull-right">
                    <div class="portfolio-content-wrapper">
                        <h2>RIONX<br><span class="small">corpotate website</span></h2>
                        <div class="portfolio-buttons">
                        <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#portfolio-01">project detail</a>
                        <a class="btn btn-default btn-lg">visit website</a>
                        </div>
                        <p class="portfolio-introduction">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- / SINGLE PORTFOLIO ITEM -->
        <!-- SINGLE PORTFOLIO ITEM-->
        <div class="portfolio-row row">
            <div class="col-md-6">
                <div class="portfolio-content pull-left">
                    <div class="portfolio-content-wrapper">
                        <h2>BOOKLET<br><span class="small">dtp | print</span></h2>
                        <div class="portfolio-buttons">
                        <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#portfolio-01">project detail</a>
                        <a class="btn btn-default btn-lg">visit website</a>
                        
                        </div>
                        <p class="portfolio-introduction">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 static no-padding">
                <div class="portfolio-image" style="background-image: url('assets/img/portfolio-6.jpg')">
                </div>
            </div>
        </div>
        <!-- / SINGLE PORTFOLIO ITEM -->
        <!-- SINGLE PORTFOLIO ITEM-->
        <div class="portfolio-row row">
            <div class="col-md-6 static no-padding">
                <div class="portfolio-image" style="background-image: url('assets/img/portfolio-7.jpg')">
                </div>
            </div>

            <div class="col-md-6">
                <div class="portfolio-content pull-right">
                    <div class="portfolio-content-wrapper">
                        <h2>PAPERBACK BOOK<br><span class="small">corpotate website</span></h2>
                        <div class="portfolio-buttons">
                        <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#portfolio-01">project detail</a>
                        <a class="btn btn-default btn-lg">visit website</a>
                        </div>
                        <p class="portfolio-introduction">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- / SINGLE PORTFOLIO ITEM -->   
     
        <!-- PORTFOLIO MODAL -->
        <div id="portfolio-01" class="modal fade" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content shadow">
                    <a class="close" data-dismiss="modal"><span class="ti-close"></span></a>
                    <div class="modal-body modal-lg">
                        <div class="portfolio-modal">
                            <div class="portfolio-modal-content">
                                <div class="row">
                                    <div class="col-md-3 text-left">
                                         <h3 class="mb-60">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h3>

                                        <p class="portfolio-introduction">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>

                                    <div class="col-md-9">
                                        <div class="carousel slide portfolio-slide carousel-fade" id="portfolio-carousel">
                                            <!-- WRAPPER FOR SLIDES -->
                                            <div class="carousel-inner cont-slider">
                                                <div class="item active">
                                                    <img alt="" title="" src="assets/img/portfolio-2.jpg">
                                                </div>

                                                <div class="item">
                                                    <img alt="" title="" src="assets/img/portfolio-3.jpg">
                                                </div>

                                                <div class="item">
                                                    <img alt="" title="" src="assets/img/portfolio-4.jpg">
                                                </div>

                                                <div class="item">
                                                    <img alt="" title="" src="assets/img/portfolio-5.jpg">
                                                </div>
                                            </div>
                                            <!-- / WRAPPER FOR SLIDES -->
                                            <!-- INDICATORS -->
                                            <ol class="carousel-indicators">
                                                <li class="active" data-slide-to="0" data-target="#portfolio-carousel">
                                                    <img alt="" src="assets/img/portfolio-2.jpg">
                                                </li>
                                                <li class="" data-slide-to="1" data-target="#portfolio-carousel">
                                                    <img alt="" src="assets/img/portfolio-3.jpg">
                                                </li>
                                                <li class="" data-slide-to="2" data-target="#portfolio-carousel">
                                                    <img alt="" src="assets/img/portfolio-4.jpg">
                                                </li>
                                                <li class="" data-slide-to="3" data-target="#portfolio-carousel">
                                                    <img alt="" src="assets/img/portfolio-5.jpg">
                                                </li>
                                            </ol>

                                        <!-- / INDICATORS -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / PORTFOLIO MODAL -->
    </div>
    <div id="testimonials" class="testimonials div">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 section-hader">
                    <h3 class="light">Testimonials</h3>
                </div>
                <div class="testimonials-slider text-center col-md-12">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonials-container shadow">
                                <img class="wow fadeInUp" src="assets/img/avatar.jpg" alt="user avatar">
                                <h3 class="wow fadeInUp mb-60 mt-30" data-wow-delay=".4s">Martin Johe, Co-Founder / CEO
                                    <span>Fastcompany ltd.</span>
                                </h3>

                                <p class="wow fadeInUp" data-wow-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="testimonials-container shadow">
                                <img src="assets/img/avatar.jpg" alt="user avatar">
                                <h3 class="mb-60 mt-30">Martin Johe, Co-Founder / CEO
                                    <span>Fastcompany ltd.</span>
                                </h3>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="testimonials-container shadow">
                                <img src="assets/img/avatar.jpg" alt="user avatar">
                                <h3 class="mb-60 mt-30">Martin Johe, Co-Founder / CEO
                                    <span>Fastcompany ltd.</span>
                                </h3>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="testimonials-pagination"></div>
                    <div class="testimonials-slider-next right-arrow">
                        <span class="ti-arrow-right"></span>
                    </div>

                    <div class="testimonials-slider-prev left-arrow">
                        <span class="ti-arrow-left"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="timeline" class="timeline div">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 section-hader">
                    <h3>Timeline</h3>
                </div>
                <div class="col-md-12">
                    <ul class="timeline-list">
                        <li class="">
                            <div class="timeline-badge wow pulse" data-wow-delay=".3s" data-wow-iteration="2">
                                <span class="ti-briefcase"></span>
                            </div>
                            <div class="timeline-item shadow wow fadeInLeft">
                                <span class="timeline-date h4">MAY 2015</span>
                                <h4 class="timeline-title">consectetur adipisicing elit</h4>

                                <div class="timeline-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge wow pulse" data-wow-delay=".3s" data-wow-iteration="2">
                                <span class="ti-panel"></span>
                            </div>
                            <div class="timeline-item shadow wow fadeInRight">
                                <span class="timeline-date h4">MAY 2015</span>
                                <h4 class="timeline-title">Duis aute irure dolor in reprehenderit</h4>

                                <div class="timeline-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="">
                            <div class="timeline-badge wow pulse" data-wow-delay=".3s" data-wow-iteration="2">
                                <span class="ti-briefcase"></span>
                            </div>
                            <div class="timeline-item shadow wow fadeInLeft">
                                <span class="timeline-date h4">MAY 2015</span>
                                <h4 class="timeline-title">consectetur adipisicing elit</h4>

                                <div class="timeline-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge wow pulse" data-wow-delay=".3s" data-wow-iteration="2">
                                <span class="ti-panel"></span>
                            </div>
                            <div class="timeline-item shadow wow fadeInRight">
                                <span class="timeline-date h4">MAY 2015</span>
                                <h4 class="timeline-title">Duis aute irure dolor in reprehenderit</h4>

                                <div class="timeline-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="about-counter text-center">
        <div class="" id="about-counter">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 wow fadeInLeft about-counter-single" data-wow-delay="0.2s" data-wow-duration="1s" data-wow-offset="0">
                        <div class="counter"> <span class="ti-crown icon"></span>
                            <h2 class="timer">250</h2>
                            <p> Projects Finished </p>
                        </div>
                    </div>
                    <div class="col-md-3 wow fadeInLeft about-counter-single" data-wow-delay="0.3s" data-wow-duration="1s" data-wow-offset="0">
                        <div class="counter"> <span class="ti-shortcode icon"></span>
                            <h2 class="timer">756</h2>
                            <p> psd files </p>
                        </div>
                    </div>
                    <div class="col-md-3 wow fadeInLeft about-counter-single" data-wow-delay="0.4s" data-wow-duration="1s" data-wow-offset="0">
                        <div class="counter"> <span class="ti-cup icon"></span>
                            <h2 class="timer">42</h2>
                            <p> Award Won </p>
                        </div>
                    </div>
                    <div class="col-md-3 wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="1s" data-wow-offset="0">
                        <div class="counter"> <span class="ti-comments-smiley icon"></span>
                            <h2 class="timer">240</h2>
                            <p> Satisfied Clients </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="contact contact-with-map section">
        <div class="container-fluid no-padding">
            <div class="row">
                <div class="col-md-12 section-hader">
                    <h3>Contact</h3>
                </div>

                <div class="col-md-8 col-md-push-2">
                    <div class="contact-form">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
                            </div>

                            <button type="button" id="submit" name="submit" class="btn btn-margin btn-primary btn-lg text-center">send</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="google-maps">
                <div id="map-canvas"></div>
            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img class="footer-logo" src="assets/img/logo.png" alt="footer-logo">
                     <div class="contact-data">
                        <ul>
                            <li><span class="ti-mobile icon"></span>+ 49 123 456 789</li>
                            <li><span class="ti-email icon"></span><a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="5c313d35301c313d2e283532723f3331">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></li>
                            <li><span class="ti-skype icon"></span>@martin</li>
                        </ul>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul class="about-social mt-30">
                        <li><a href="#" class="pull-left"><span class="ti-twitter"></span></a></li>
                        <li><a href="#" class="pull-left"><span class="ti-instagram"></span></a></li>
                        <li><a href="#" class="pull-left"><span class="ti-youtube"></span></a></li>
                        <li><a href="#" class="pull-left"><span class="ti-vimeo"></span></a></li>
                        <li><a href="#" class="pull-left"><span class="ti-tumblr"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>